.tickets{
    display: flex;
    padding: 3px;
    margin: 0;
    box-sizing: border-box;
    
}
.ticket1{
    background-color: black;
    position: absolute;
}

.ticket1 .leftbox{
    top: 10%;
    left: 10%;
    width: 70%;
    height: auto;
    align-items: flex-end;
}

.ticket1 .rightbox{
    top: 10%;
    left: 70%;
    width: 500px;
    height: 325px;
    align-items: flex-start;
    text-align: left;
    color: #000000;
    font-size: 20px;
    background-color: aqua;
}

.ticket2 .leftbox{
    top: 40%;
    left: 10%;
    width: 500px;
    height: 325px;
    align-items: flex-end;
    text-align: left;
    color: #000000;
    font-size: 20px;
    background-color: aqua;
}

.ticket2 .rightbox{
    top: 40%;
    left: 70%;
    width: 70%;
    height: auto;
    align-items: flex-start;
}

.ticket3 .leftbox{
    top:900px;
    left: 10%;
    width: 70%;
    height: auto;
    align-items: flex-end;
}

.ticket3 .rightbox{
    top: 900px;
    left: 70%;
    width: 500px;
    height: 325px;
    align-items: flex-start;
    text-align: left;
    color: #000000;
    font-size: 20px;
    background-color: aqua;
}