*{
    margin: 0;
    padding: 0
}




.tickets{
    display: flex;
    width: 90%;
    align-items: center;
    text-align: center;
    background-color: #c4c4c4;
    background-size: cover;
    background-position: center;
    margin-top: 10%;
    padding: 0px;
    left: 5%;
    position: relative;
    box-sizing: border-box;
}

.tickets ul{
    position: relative;
}

.tickets ul li{
    list-style: none;
    height: 400px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}


.leftbox{
    padding-left: 0px;
    flex-basis: 60%;
    background-color: bisque;
}

.leftbox img{
    position: relative;
    height: 400px;
    width: auto;
    float: right;
    top: 3.5%;
}

.rightbox{
    padding: 0;
    flex-basis: 40%;
    height: 400px;
    background-color: aquamarine;
    position: relative;
    top: 14px;
}


.rightbox h3{
    position: relative;
    width: 100%;
    top: 13%;
    left: 5%;
    text-align: left;
    color: #FF7200;
    font-size: 23px;
    line-height: 50px;
    font-weight: 600;
    font-family: 'Boogaloo', cursive;
    line-height: 35px;
    align-items: center;
}

.button{
    width: 340px;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 15px 30px;
    font-size: 20px;
    background: transparent;
    position: relative;
    right: -200px;
    top: -25%;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    transform: rotate(270deg);
    margin-bottom: 3000px;
}

.button:hover{
    border: 1px solid #FF7200;
    background-color: #FF7200;
    transition: 1.0s;
}










  
