*{
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    max-height: 100vh; 
    background-color:#000000;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

section{
    margin-top: 10%;
    margin-bottom: 10%;;
}

.header{
    width: 100%;
    background-color: #000000;
    overflow: hidden;
}

.navbar{
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 80px;
    margin-right: 40px;
    display: block;
}

.navbar .menu{
    display: none;
}

.navbar .icons a{
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    color:#FF7200;
    font-size: 30px;
}

.navbar .icons a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #FF7200;
    display: block;
    margin: auto;
    transition: 1.0s;
    margin-top: 3px;
}

.navbar .icons a:hover:after{
    width: 100%;
} 



.navbar .titles a{
    float: right;
    padding-left: 25px;
    padding-right: 25px;
    color: #FF7200;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.navbar .titles a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #FF7200;
    display: block;
    margin: auto;
    transition: 1.0s;
    margin-top: 3px;
}

.navbar .titles a:hover:after{
    width: 100%;
} 












  
