.boxy1{
    margin: 0;
    padding: 0;
    display : flex; 
    height: 90%;
    
}

.col1{
    padding: 15px;
    flex-basis: 55%;
    background: #FF7200;
    margin: 10px;
    text-align: justify;
}

p{
    font-size: 20px;
    color: #000000;
    line-height: 20px;
}

h3{
    font-size: 35px;
    color: #000000;
}

h4{
    font-size: 25px;
    color: #000000;
}

.col2{
    flex-basis: 35%;
    height: auto;
    margin: 10px;
}

img{
    width: 400px;
    height: auto;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    transition: 1.0s;
}

.imgs:hover{
    transform: translateY(-10px);
}