.boxy1{
    margin: 0;
    padding: 0;
    display : flex; 
    
}

.col1{
    padding: 15px;
    flex-basis: 55%;
    background: #FF7200;
    margin: 10px;
}

.col2{
    flex-basis: 35%;
    width: 100px;
    height: auto
}