*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh; 
    background-color:#000000;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

/* NAVIGATION */
.container-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2% 0%;
    display: flex;
    align-items: center;
    background-color: #000000;
    position: relative;
}

.nav{
    flex: 1;
    text-align: center;
}

/* SOCIAL MEDIA ICONS */
.icons li{
    left: 5%;
    list-style: none;
    display: inline-block;
    padding: 5px 40px;
    position: relative;
}

.icons li a{
    color: #FF7200;
    text-decoration: none;
    font-size: 25px;
}

.icons li::after{
    content: '';
    width: 0%;
    height:2px;
    background: #FF7200;
    display: block;
    margin: auto;
    transition: 1.0s;
}
    
.icons li:hover::after{
    width: 100%;
}

/* NAV. TEXT */
.titles li{
    left: 120%;
    list-style: none;
    display: inline-block;
    padding: 5px 40px;
    position: relative;
    align-items: center;
}

.titles li a{
    text-decoration: none;
    color:#FF7200;
    font-size: 28px;
    font-weight: 500;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.titles li::after{
    content: '';
    width: 0%;
    height:2px;
    background: #FF7200;
    display: block;
    margin: auto;
    transition: 1.0s;
}
    
.titles li:hover::after{
    width: 100%;
}



/* TITLE */
.container-two {
    display: flex;
    margin-top: 50px;
    width: 90%;
    height: auto;
    background-image: url("footer1.png");
    background-size: 80% auto;
    background-position: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 100px;
    font-weight: 400;
    font-family: 'Londrina Sketch', cursive;
}


/* PAGE ONE */
.container-three{
    display: flex;
    width: 90%;
    height: 80%;
    align-items: center;
    text-align: center;
    background-color: #4b4b4b;
    margin-top: 75px;
}


.column{
    padding-left: 10px;
    padding-right: 10px;
    flex-basis: 50%;
}

.column img{
    width: 80%;
    height: auto;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}


.column p{
    position: absolute;
    margin: 5px 0 30px;
    margin-left: 0;
    width: 80%;
    top: 50%;
    left: 50%;
    top: 70%;
    text-align: left;
    align-content: center;
    color: #FF7200;
    font-size: 30px;
    line-height: 25px;
    font-family: 'Boogaloo', cursive;
    line-height: 35px;
}

.button{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 15px 30px;
    font-size: 20px;
    background: transparent;
    position: relative;
    top: 80%;
    align-items: center;
    justify-content: flex-end;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.button:hover{
    border: 1px solid #FF7200;
    background-color: #FF7200;
    transition: 1.0s;
}

.container-four{
    width: 100%;
    height: 500px;
    margin-top: 75px;
    text-align: center;
    padding-top: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.container-four h1{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Boogaloo', cursive;
    color: #FF7200;
    align-items: center;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2.0s;
}

.slide img{
    width: 800px;
    height: 500px
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: 525px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 4px solid #FF7200;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1.0s;

}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #FF7200;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
#radio6:checked ~ .first{
    margin-left: -100%;
}
#radio7:checked ~ .first{
    margin-left: -120%;
}
#radio8:checked ~ .first{
    margin-left: -140%;
}
#radio9:checked ~ .first{
    margin-left: -160%;
}


/* auto */

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 525px;
}
.navigation-auto div{
    border: 4px solid #FF7200;
    padding: 5px;
    border-radius: 10px;
    transition: 1.0s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:check ~ .navigation-auto .auto-btn1{
    background: #FF7200
}
#radio2:check ~ .navigation-auto .auto-btn2{
    background: #FF7200
}
#radio3:check ~ .navigation-auto .auto-btn3{
    background: #FF7200
}
#radio4:check ~ .navigation-auto .auto-btn4{
    background: #FF7200
}
#radio5:check ~ .navigation-auto .auto-btn5{
    background: #FF7200
}
#radio6:check ~ .navigation-auto .auto-btn6{
    background: #FF7200
}
#radio71:check ~ .navigation-auto .auto-btn7{
    background: #FF7200
}
#radio8:check ~ .navigation-auto .auto-btn8{
    background: #FF7200
}
#radio9:check ~ .navigation-auto .auto-btn9{
    background: #FF7200
}

