*{
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    max-height: 100vh; 
    background-color:#000000;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

section{
    margin-top: 10%;
    margin-bottom: 10%;;
}

.header{
    width: 100%;
    background-color: #000000;
    overflow: hidden;
}

.navbar{
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 80px;
    margin-right: 40px;
    display: block;
}

.navbar .menu{
    display: none;
}

.navbar .icons a{
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    color:#FF7200;
    font-size: 30px;
}

.navbar .icons a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #FF7200;
    display: block;
    margin: auto;
    transition: 1.0s;
    margin-top: 3px;
}

.navbar .icons a:hover:after{
    width: 100%;
} 



.navbar .titles a{
    float: right;
    padding-left: 25px;
    padding-right: 25px;
    color: #FF7200;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.navbar .titles a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #FF7200;
    display: block;
    margin: auto;
    transition: 1.0s;
    margin-top: 3px;
}

.navbar .titles a:hover:after{
    width: 100%;
} 


.sub-body{
    position: relative;
    margin-top: 10%;
    margin-bottom: 50px;
    background-color:transparent;
    top: 10%;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-weight: normal;
    color:#000000;
}


.gist{
    margin-top: 30px;
    color: #FF7200;
    font-size: 60px;
    text-align: center;
    padding: 10px;
    font-family: 'Boogaloo', cursive;
}

.box{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.box .main-video{
    background: transparent;
    border-radius: 2px;
    padding: 10px;
    border: 4px solid #FFFFFF;

}

.box .main-video iframe{
    width: 100%;
    border-radius: 5px;

}

.box .main-video .title{
    color: #FFFFFF;
    font-size: 40px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Boogaloo', cursive;
}

.box .video-list{
    background: transparent;
    border: 4px solid #FFFFFF;
    border-radius: 2px;
    height: 610px;
    overflow-y: scroll;
    color:#717c7d;
}

.box .video-list .vid iframe{
    width: 100px;
    height: 60px;
    border-radius: 5px;
}
    
.box .video-list::-webkit-scrollbar{
    width: 7px;
}

.box .video-list::-webkit-scrollbar-track{
    background: #c6cad2;
    border-radius: 50px;
}

.box .video-list::-webkit-scrollbar-thumb{
    background: #717c7d;
    border-radius: 50px;
}

.box .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: transparent;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 3px solid #FF7200;
    cursor: pointer;
}

.box .video-list .vid:hover{
    background: #FF7200;
}

.box .video-list .vid.active{
    background: #FF7200;

}

.box .video-list .vid.active .title{
    color: #FFFFFF;
}

.box .video-list .vid .title{
    color: #717c7d;
    font-size: 25px;
    font-family: 'Boogaloo', cursive;
}


@media (max-width:900px){
    .box{
        grid-template-columns: 1.5fr 1fr;
        padding: 10px;
    }
}



@media (max-width:600px){
    .box{
        grid-template-columns: 1fr;
    }
}