/* PAGE FOUR */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-weight: normal;
    font-family:'Road Rage', cursive ;
}


.sub-body{
    background-color: #c4c4c4;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-weight: normal;
    color:#000000;
}


.header{
    color: #FF7200;
    font-size: 60px;
    text-align: center;
    padding: 10px;
}

.box{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.box .main-video{
    background: transparent;
    border-radius: 2px;
    padding: 10px;
    border: 4px solid #FFFFFF;

}

.box .main-video iframe{
    width: 100%;
    border-radius: 5px;

}

.box .main-video .title{
    color: #FFFFFF;
    font-size: 40px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.box .video-list{
    background: transparent;
    border: 4px solid #FFFFFF;
    border-radius: 2px;
    height: 610px;
    overflow-y: scroll;
    color:#717c7d;
}

.box .video-list .vid iframe{
    width: 100px;
    height: 60px;
    border-radius: 5px;
}
    
.box .video-list::-webkit-scrollbar{
    width: 7px;
}

.box .video-list::-webkit-scrollbar-track{
    background: #c6cad2;
    border-radius: 50px;
}

.box .video-list::-webkit-scrollbar-thumb{
    background: #717c7d;
    border-radius: 50px;
}

.box .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: transparent;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 3px solid #FF7200;
    cursor: pointer;
}

.box .video-list .vid:hover{
    background: #FF7200;
}

.box .video-list .vid.active{
    background: #FF7200;

}

.box .video-list .vid.active .title{
    color: #FFFFFF;
}

.box .video-list .vid .title{
    color: #000000;
    font-size: 25px;
}


@media (max-width:900px){
    .box{
        grid-template-columns: 1.5fr 1fr;
        padding: 10px;
    }
}



@media (max-width:600px){
    .box{
        grid-template-columns: 1fr;
    }
}